.el-radio-group {
  .el-radio-button {
    .el-radio-button__inner {
      padding: 10px 21px;
    }
  }
}
.single-page > .el-tabs {
  margin: 0 32px;
}
div:not(.under-table) > .base-table {
  .el-table th > .cell {
    padding-right: 10px;
  }
}
.base-table {
  .td-btn-group .dj-common-red-delete {
    font-size: 20px;
    color: red;
    cursor: pointer;
    &.disabled {
      color: #909399;
      cursor: not-allowed;
    }
  }
  .icon-require {
    color: red;
    vertical-align: middle;
  }
}
.el-message.el-message--info {
  .el-message__content, .el-icon-info {
    color: #29d;
  }
}
