.el-radio-group {
  .el-radio-button {
    .el-radio-button__inner {
      padding: 10px 21px;
    }
  }
}
.single-page > .el-tabs {
  margin: 12px 32px 0;
}
div:not(.under-table) > .base-table {
  .el-table th > .cell {
    padding-right: 10px;
  }
}
.base-table {
  .td-btn-group .dj-common-red-delete {
    font-size: 20px;
    color: red;
    cursor: pointer;
    &.disabled {
      color: #909399;
      cursor: not-allowed;
    }
  }
  .icon-require {
    color: red;
    vertical-align: middle;
  }
  // 表格字体颜色控制
  .el-table__row, .el-table__footer {
    td {
      // 急单字段
      .urgent {
        color: #f00;
      }
      // 延单字段
      .delay {
        color: #f89816;
      }
      // 不合规字段
      .illegal {
        color: #f00;
      }
    }
    &.is-error {
      color: red;
    }
  }
  // 原纸出入库特有表格样式
  &.input-table {
    .el-table__header th {
      padding: 8px 0;
    }
    .el-table__row td, .el-table__footer td {
      padding: 0;
      &.is-change {
        background-color: rgba(248, 152, 22, 0.1);
        .el-autocomplete {
          width: 100%;
        }
        .el-input__inner {
          height: 33px;
          padding-left: 0;
          line-height: 33px;
          background-color: transparent;
          border: none;
        }
      }
    }
    .is-error .el-input__inner {
      color: red;
    }
    .loading-wrap {
      display: none;
    }
  }
}
.el-message.el-message--info {
  .el-message__content, .el-icon-info {
    color: #29d;
  }
}
